version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "pip"
    directory: "/src/AIKit.MarkItDown.Server"
    schedule:
      interval: "weekly"
